html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: Courier, monospace;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    background-image: url(images/backgroundImg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main {
    display: grid;
     gap: 20px;
 }
 
section {
     display: grid;
     grid-template-rows: auto auto auto;
     gap: 20px;
     height: 70%;
     width: 90%;
     margin: auto;
 }
header {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}
h2 {
    display: none;
}
h3 {
    display: none;
}

#playerOne {
    display: grid;
    grid-template-rows: 10% 10% 10% 15% 10% 10% 10%;
    grid-template-columns: auto auto;
}
#healthPlayerOne {
    grid-column: 1;
    grid-row: 1;
    color: wheat;
}
#namePOneOutput {
    grid-column: 1;
    grid-row: 2;
    color: wheat;
}
#racePOneOutput {
    grid-column: 1;
    grid-row: 3;
    color: wheat;
}
#itemPOneOutput {
    grid-column: 1;
    grid-row: 4;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bootsItem {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#staffItem {
    width: 100%;
    max-width: 100px;
    height: auto;
    transform: rotate(40deg);
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#swordItem {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#bowItem {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#displayPlayerOne{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}
#humanDisplay {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#orcDisplay {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#elveDisplay {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#vampireDisplay {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}

#createPlayerOne {
    grid-column: span 2;
    grid-row: 1;
    grid-row: span 8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#namePlayerOne {
    background-color:wheat;
    padding: 10px;
    border-radius: 5px;
}
#itemsPlayerOne {
    background-color:wheat;
    border-style: unset;
    border-radius: unset;
}
#racePlayerOne {
    background-color:wheat;
    border-style: unset;
    border-radius: unset;
}
#runOne {
    padding: 10px;
    border-radius: 5px;
    background-color: wheat;
}
#buttonPlayerOne {
    font-family: Courier, monospace;
    grid-column: span 2;
    grid-row: 6;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hitPlayerOne {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}
#healPlayerOne {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}
#yieldPlayerOne {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}

#playerOneLastMove {
    grid-column: span 2;
    grid-row: 7;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
}
progress {
    border: 0;
    height: 20px;
    border-radius: 20px;
    margin-left: 5px;
}
progress::-webkit-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
progress::-webkit-progress-value {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
progress::-moz-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
/*Player two*/

#playerTwo {
    display: grid;
    grid-template-rows: 10% 10% 10% 15% 10% 10% 10%;
    grid-template-columns: auto auto;
}

#healthPlayerTwo {
    grid-column: 2;
    grid-row: 1;
    color: wheat;
    margin-left: auto;
}
#namePTwoOutput {
    grid-column: 2;
    grid-row: 2;
    color: wheat;
    display: flex;
    flex-direction: row-reverse;
}
#racePTwoOutput {
    grid-column: 2;
    grid-row: 3;
    color: wheat;
    display: flex;
    flex-direction: row-reverse;
}
#itemPTwoOutput {
    grid-column: 2;
    grid-row: 4;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bootsItemTwo {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#staffItemTwo {
    width: 100%;
    max-width: 100px;
    height: auto;
    transform: rotate(40deg);
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#swordItemTwo {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#bowItemTwo {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}

#displayPlayerTwo{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}
#humanDisplayTwo {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#orcDisplayTwo {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#elveDisplayTwo {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#vampireDisplayTwo {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 5px grey;
    background-color: wheat;
}
#createPlayerTwo {
    grid-column: span 2;
    grid-row: 1;
    grid-row: span 8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#namePlayerTwo {
    background-color:wheat;
    padding: 10px;
    border-radius: 5px;
}
#itemsPlayerTwo {
    background-color:wheat;
    border-style: unset;
    border-radius: unset;
}
#racePlayerTwo {
    background-color:wheat;
    border-style: unset;
    border-radius: unset;
}
#runTwo {
    padding: 10px;
    border-radius: 5px;
    background-color: wheat;
}
#buttonPlayerTwo {
    grid-column: span 2;
    grid-row: 6;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hitPlayerTwo {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}
#healPlayerTwo {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}
#yieldPlayerTwo {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}
#playerTwoLastMove {
    grid-column: span 2;
    grid-row: 7;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
}
#restartt {
    display: grid;
    grid-template-columns: 100%;
    margin-left: auto;
}
#restartBton button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
}
@media screen and (max-width: 430px){
     #bootsItem {
        width: 100%;
        max-width: 100px;
        height: auto;
        border-radius: 100px;
        box-shadow: 5px 5px 5px grey;
        background-color: wheat;
    }
    #staffItem {
        width: 100%;
        max-width: 50px;
        height: auto;
        transform: rotate(40deg);
        border-radius: 100px;
        box-shadow: 5px 5px 5px grey;
        background-color: wheat;
    }
    #swordItem {
        width: 100%;
        max-width: 75px;
        height: auto;
        border-radius: 5px;
        box-shadow: 5px 5px 5px grey;
        background-color: wheat;
    }
    #bowItem {
        width: 100%;
        max-width: 100px;
        height: auto;
        border-radius: 5px;
        box-shadow: 5px 5px 5px grey;
        background-color: wheat;
    }
    /*Player two*/
    #bootsItemTwo {
        width: 100%;
        max-width: 100px;
        height: auto;
        border-radius: 100px;
        box-shadow: 5px 5px 5px grey;
        background-color: wheat;
    }
    #staffItemTwo {
        width: 100%;
        max-width: 50px;
        height: auto;
        transform: rotate(40deg);
        border-radius: 100px;
        box-shadow: 5px 5px 5px grey;
        background-color: wheat;
    }
    #swordItemTwo {
        width: 100%;
        max-width: 75px;
        height: auto;
        border-radius: 5px;
        box-shadow: 5px 5px 5px grey;
        background-color: wheat;
    }
    #bowItemTwo {
        width: 100%;
        max-width: 100px;
        height: auto;
        border-radius: 5px;
        box-shadow: 5px 5px 5px grey;
        background-color: wheat;
    }
    #buttonPlayerOne button {
        width: 20px;
        height: 50%;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #buttonPlayerTwo button {
        width: 20px;
        height: 50%;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
#stats {
    display: none;
}
@media screen and (min-width: 800px){
    main {
        display: grid;
         gap: 20px;
     }
    section {
         display: grid;
         grid-template-columns: auto auto;
         grid-template-rows: auto auto auto;
         gap: 20px;
         height: 90%;
         width: 90%;
         margin: auto;
         margin-top: 7%;
     }
     header {
         display: flex;
         justify-content: center;
     }
     
     #restartt {
         grid-row: 2;
     }
     #stats {
        display: grid;
        grid-column: span 2;
        grid-row: 3;
        height: 50%;
     }
     #stats td {
         background-color: wheat;
         border-radius: 5px;
         box-shadow: 5px 5px 5px grey;
     }
}


