html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    background-image: url(images/backgroundImg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main {
    display: grid;
     gap: 20px;
 }
 
section {
     display: grid;
     grid-template-rows: auto auto;
     gap: 20px;
     height: 70%;
     width: 90%;
     margin: auto;
 }

#playerOne {
    display: grid;
    grid-template-rows: 10% 10% 10% 15% 10% 10% 10%;
    grid-template-columns: auto auto;
}
#healthPlayerOne {
    grid-column: 1;
    grid-row: 1;
    color: wheat;
}
#namePOneOutput {
    grid-column: 1;
    grid-row: 2;
    color: wheat;
}
#racePOneOutput {
    grid-column: 1;
    grid-row: 3;
    color: wheat;
}
#itemPOneOutput {
    grid-column: 1;
    grid-row: 4;
    grid-row: span 2;
    border-radius: 150px;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}
#bootsItem {
    width: 120px;
    height: 140px;
}
#staffItem {
    width: 120px;
    height: 140px;
    transform: rotate(40deg);
}
#swordItem {
    width: 120px;
    height: 140px;
    transform: rotate(20deg);
}
#bowItem {
    width: 110px;
    height: 130px;
}
#displayPlayerOne{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    border-radius: 150px;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}
#humanDisplay {
    width: 250px;
    height: 300px;
}
#orcDisplay {
    width: 300px;
    height: 220px;
}
#elveDisplay {
    width: 300px;
    height: 220px;
}
#vampireDisplay {
    width: 220px;
    height: 250px;
}

#createPlayerOne {
    grid-column: span 2;
    grid-row: 1;
    grid-row: span 8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#namePlayerOne {
    background-color:wheat;
    padding: 10px;
    border-radius: 5px;
}
#itemsPlayerOne {
    background-color:wheat;
    border-style: unset;
    border-radius: unset;
}
#racePlayerOne {
    background-color:wheat;
    border-style: unset;
    border-radius: unset;
}
#runOne {
    padding: 10px;
    border-radius: 5px;
    background-color: wheat;
}
#buttonPlayerOne {
    grid-column: span 2;
    grid-row: 6;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hitPlayerOne {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}
#healPlayerOne {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}
#yieldPlayerOne {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}

#playerOneLastMove {
    grid-column: span 2;
    grid-row: 7;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
}
progress {
    border: 0;
    height: 20px;
    border-radius: 20px;
    margin-left: 5px;
}
progress::-webkit-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
progress::-webkit-progress-value {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
progress::-moz-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 20px;
}


#playerTwo {
    display: grid;
    grid-template-rows: 10% 10% 10% 15% 10% 10% 10%;
    grid-template-columns: auto auto;
}

#healthPlayerTwo {
    grid-column: 2;
    grid-row: 1;
    color: wheat;
    margin-left: auto;
}
#namePTwoOutput {
    grid-column: 2;
    grid-row: 2;
    color: wheat;
    display: flex;
    flex-direction: row-reverse;
}
#racePTwoOutput {
    grid-column: 2;
    grid-row: 3;
    color: wheat;
    display: flex;
    flex-direction: row-reverse;
}
#itemPTwoOutput {
    grid-column: 2;
    grid-row: 4;
    grid-row: span 2;
    border-radius: 150px;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}
#bootsItemTwo {
    width: 120px;
    height: 140px;
}
#staffItemTwo {
    width: 120px;
    height: 140px;
    transform: rotate(40deg);
}
#swordItemTwo {
    width: 120px;
    height: 140px;
    transform: rotate(20deg);
}
#bowItemTwo {
    width: 110px;
    height: 130px;
}

#displayPlayerTwo{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 6;
    border-radius: 150px;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}
#humanDisplayTwo {
    width: 250px;
    height: 300px;
}
#orcDisplayTwo {
    width: 300px;
    height: 220px;
}
#elveDisplayTwo {
    width: 300px;
    height: 220px;
}
#vampireDisplayTwo {
    width: 220px;
    height: 250px;
}
#createPlayerTwo {
    grid-column: span 2;
    grid-row: 1;
    grid-row: span 8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#namePlayerTwo {
    background-color:wheat;
    padding: 10px;
    border-radius: 5px;
}
#itemsPlayerTwo {
    background-color:wheat;
    border-style: unset;
    border-radius: unset;
}
#racePlayerTwo {
    background-color:wheat;
    border-style: unset;
    border-radius: unset;
}
#runTwo {
    padding: 10px;
    border-radius: 5px;
    background-color: wheat;
}
#buttonPlayerTwo {
    grid-column: span 2;
    grid-row: 6;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hitPlayerTwo {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}
#healPlayerTwo {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}
#yieldPlayerTwo {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px grey;
}
#playerTwoLastMove {
    grid-column: span 2;
    grid-row: 7;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
}



@media screen and (min-width: 800px){
    main {
        display: grid;
         gap: 20px;
     }
    section {
         display: grid;
         grid-template-columns: auto auto;
         gap: 20px;
         height: 90%;
         width: 90%;
         margin: auto;
         margin-top: 10%;
     }
}


